# Hugo default output directory
/public
/resources

# npm resources
/node_modules
package-lock.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
*~

# Link checker
bin/
tmp/
