// GLOBAL
a:not(.td-sidebar-link) > .fa-external-link-alt::before {
  margin-left: 3px;
}
a > .fa-external-link-alt::before {
  font-size: 50%;
  opacity: 0.8;
  vertical-align: top;
}

// Navbar
.navbar-brand span:last-child {
  display: none;
}

// Pages
.td-cover-block {
  background-image: url("/img/graphic-04.svg");
}

@media screen and (min-width: 992px) {
  .homepage__logo {
    width: 50%;
  }
}
