/* grpc-docsy full file override: we're not tracking changes to the docsy file of the same name. */

@import "grpc";

.pageinfo {
  margin: 2rem 0;
}

.card-title {
  .fab::before, .fas::before { margin-right: .5rem; }
}

.td-breadcrumbs__single { display: none !important; }
