// Bootstrap/Docsy variable overrides here
$primary: #244c5a;
$secondary: #5ac5c5;
$info: #379c9c;
$gray-100: #fafafa;

$display1-weight: 300;
$display2-weight: 300;

$link-color: #379c9c;

// Site-specific variables here
$grpc-green: #244c5a;
$grpc-blue: #5ac5c5;
$twitter-blue: rgb(29, 161, 242);
$reddit-orange: rgba(255, 86, 0, 1);
$gitter-magenta: rgb(237, 25, 101);

// Navbar
.navbar-brand span:last-child {
  display: none;
}

// Overrides for Docsy block/cover
.td-cover-block {
  background-image: url("/img/graphic-04.svg");
}
