<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  <head>
    {{ partial "google-analytics.html" . }}
    {{ partial "meta.html" . }}

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "favicons.html" . }}
    {{ partial "css.html" . }}
  </head>
  <body class="is-page has-navbar-fixed-top">
    <main class="is-main">
      {{ partial "navbar.html" . }}
      {{ partial "banner.html" -}}
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
