{{ define "title" }}
{{ site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
{{ partial "hero.html" . }}

<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-three-quarters">
        {{ partial "content.html" (dict "content" .Content "size" "normal" "constrained" true) }}
      </div>

      <div class="column">
        <aside class="is-sticky">
          {{ .TableOfContents }}
        </aside>
      </div>
    </div>
  </div>
</section>
{{ end }}
