{{ $content := .content | markdownify }}
{{ $name    := .type | humanize }}
<div class="admonition is-{{ .type }}">
  <div class="container">
    <div class="columns is-vcentered is-variable is-8">
      <div class="column is-1">
        <span class="icon">
          <i class="fas fa-lg fa-{{ .icon }}"></i>
        </span>
      </div>
      
      <div class="column">
        <p class="title is-size-5 is-size-6-mobile">
          {{ $name }}
        </p>

        <div class="content">          
          {{ $content }}
        </div>
      </div>
    </div>
  </div>
</div>
