{{ if site.Params.show_banner -}}
<div class="o-banner">
  <p>
    Get tickets ($99) for gRPConf 2025 on <strong>Aug. 26th!</strong> -
    <a href="https://events.linuxfoundation.org/grpconf/" target="_blank" rel="noopener">
      <strong>Register now</strong>
    </a>
  </p>
  <p>
    gRPConf is also happening in India for the first time on <strong>Nov. 19th!</strong> -
    <a href="https://events.linuxfoundation.org/grpconf-india/register/" target="_blank" rel="noopener">
      <strong>Register now</strong>
    </a>
    with Early Bird tickets (INR 900) or 
    <a href="https://events.linuxfoundation.org/grpconf-india/program/cfp/" target="_blank" rel="noopener">
      <strong>Submit a Talk now</strong>
    </a>
  </p>
</div>
{{ end -}}
