{{ if site.Params.show_banner -}}
<div class="hero-head">
  <div class="notification is-warning has-text-centered">
    <p>
      Missed
      <a href="https://events.linuxfoundation.org/grpc-conf/" target="_blank" rel="noopener">
        <strong>gRPC Conf 2020</strong></a>?
      Don't worry.
    </p>
    <p>
      Watch session videos from the
      <a href="https://www.youtube.com/c/cloudnativefdn/" target="_blank" rel="noopener">
        CNCF YouTube channel</a>
      starting August 5!
    </p>
  </div>
</div>
{{ end -}}
