{{ $docsSections   := (index (where site.Sections "Section" "docs") 0).Sections }}
{{ $isDocsHome     := eq .RelPermalink "/docs/" }}
{{ $currentSection := .CurrentSection.Title }}
<div class="subnav d-none d-md-block">
  <a href="/docs"{{ if $isDocsHome }} class="active"{{ end }}>
    Overview
  </a>

  {{ range $docsSections }}
  {{ $isCurrentSection := eq $currentSection .CurrentSection.Title }}
  {{ $title := cond (isset .Params "short") .Params.short .Title }}
  |
  <a href="{{ .RelPermalink }}"{{ if $isCurrentSection }} class="active"{{ end }}>
    {{ $title }}
  </a>
  {{ end }}
</div>
