{{ $logo := printf "img/logos/%s" site.Params.logos.footer | relURL }}
{{ $menu := site.Menus.main }}
{{ $year := now.Year }}
<footer class="footer has-background-image">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-one-quarter">
        <img class="is-footer-logo" src="{{ $logo }}" alt="{{ site.Title }} footer logo">
      </div>

      <div class="column">
        {{ range $menu }}
        {{ $name       := .Name | upper }}
        {{ $isExternal := hasPrefix .URL "http" }}
        <a class="is-size-5 is-size-6-mobile has-text-light" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ $name }}
          </span>
          {{ if $isExternal }}
          <sup>
            <span class="icon">
              <i class="fas fa-sm fa-external-link-alt"></i>
            </span>
          </sup>
          {{ end }}
        </a>
        <br />
        {{ end }}
      </div>

      <div class="column">
        {{ partial "social-buttons.html" (dict "expanded" true "inverted" true) }}
      </div>
    </div>
  </div>

  <br /><br />

  <div class="container has-text-centered">
    <p class="has-text-light">
      Copyright {{ $year }} The gRPC authors
    </p>
  </div>
</footer>