{{ $year := now.Year }}
<footer class="footer has-background-image">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-one-quarter">
        <img class="is-footer-logo" src="/img/logos/{{ site.Params.logos.footer }}" alt="{{ site.Title }} footer logo">
      </div>

      <div class="column">
        {{ range site.Menus.main }}
        {{ $name       := .Name }}
        {{ $isExternal := hasPrefix .URL "http" }}
        <a class="is-size-5 is-size-6-mobile has-text-light" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ $name }}
          </span>
          {{ if $isExternal }}
          <sup>
            <span class="icon has-text-secondary">
              <i class="fas fa-sm fa-external-link-alt"></i>
            </span>
          </sup>
          {{ end }}
        </a>
        <br />
        {{ end }}
      </div>

      <div class="column">
        {{ partial "social-buttons.html" (dict "expanded" true "inverted" true) }}
      </div>
    </div>
  </div>

  <br /><br />

  <div class="container">
    <div class="card has-background-primary has-text-light">
      <div class="card-content">
        <p class="is-size-5">
          &copy; gRPC Authors {{ $year }} | Documentation distributed under <a href="https://creativecommons.org/licenses/by/4.0" target="_blank">CC-BY-4.0</a>
        </p>

        <br />

        <p>
          &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/" target="_blank">Trademark Usage</a> page.
        </p>
      </div>
    </div>
  </div>
</footer>