{{ $here           := .RelPermalink }}
{{ $docsSections   := (index (where site.Sections "Section" "docs") 0).Sections }}
{{ $currentSection := .CurrentSection }}
<div class="tabs is-medium is-toggle-rounded is-centered">
  <ul>
    {{ range $docsSections }}
    {{ $title            := .Title | upper }}
    {{ $isCurrentSection := eq $currentSection .CurrentSection }}
    <li{{ if $isCurrentSection }} class="is-active"{{ end }}>
      <a href="{{ .RelPermalink }}">
        {{ $title }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
