{{ $here           := .RelPermalink }}
{{ $docsSections   := (index (where site.Sections "Section" "docs") 0).Sections }}
{{ $currentSection := .CurrentSection }}

<div class="nav is-sticky is-hidden-touch">
  {{ range $docsSections }}
  {{ $isThisSection := eq .CurrentSection.Title $currentSection.Title }}
  <div class="nav-section" x-data="{ open: {{ $isThisSection }} }">
    {{ $isHere := eq $here .RelPermalink }}
    {{ $title := .Title | upper }}
    <nav class="level">
      <div class="level-left">
        <a class="nav-section-title is-size-5 is-size-6-mobile{{ if $isHere }} is-active{{ end }}" href="{{ .RelPermalink }}">
          {{ $title }}
        </a>
      </div>

      {{ if .RegularPages }}
      <div class="level-right">
        <span class="level-item" @click="open = !open">
          <i class="fas has-text-grey" :class="{ 'fa-chevron-down': !open, 'fa-chevron-up': open }"></i>
        </span>
      </div>
      {{ end }}
    </nav>

    {{ with .RegularPages }}
    <ul class="nav-section-links" x-show="open">
      {{ range . }}
      {{ $isHere := eq $here .RelPermalink }}
      {{ $title := cond (isset .Params "short") .Params.short .Title }}
      <li class="nav-section-link{{ if $isHere }} is-active{{ end }}">
        <a href="{{ .RelPermalink }}">
          {{ if $isHere }}
          <span class="icon has-text-secondary">
            <i class="fas fa-arrow-right"></i>
          </span>
          {{ end }}

          {{ $title }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  {{ end }}
</div>
