{{ $menu  := where site.Sections "Section" "not in" (slice "blog" "resources") }}

{{ range $menu }}
{{ $children := .RegularPages -}}
{{ if or (eq .Params.nav_children "none") (eq .Section "community") -}}
  {{ $children = false -}}
{{ else if hasPrefix .Params.nav_children "section" -}}
  {{ $children = .Sections -}}
{{ end -}}
{{ $name := .Params.short | default .Name }}
{{ if $children }}
{{ $url := .RelPermalink }}
<div class="navbar-item is-size-5 is-size-6-mobile has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless" href="{{ $url }}">
    <span>
      {{ $name }}
    </span>
    <span class="icon has-text-secondary">
      <i class="fas fa-caret-down"></i>
    </span>
  </a>

  <div class="navbar-dropdown">
    {{ range $children }}
    {{ $name       := .Params.short | default .Name }}
    {{ $url        := .URL }}
    {{ $isExternal := hasPrefix .URL "http" }}
    <a class="navbar-item"{{ with $url }} href="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank"{{ end }}>
      <span>
        {{ $name }}
      </span>
      {{ if $isExternal }}
      <span class="icon has-text-secondary">
        <i class="fas fa-sm fa-external-link-alt"></i>
      </span>
      {{ end }}
    </a>
    {{ end }}
  </div>
</div>
{{ else }}
{{ $name       := .Params.short | default .Name }}
{{ $url        := .URL }}
{{ $isExternal := hasPrefix .URL "http" }}
<a class="navbar-item is-size-5 is-size-6-mobile"{{ with $url }} href="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank"{{ end }}>
  <span>
    {{ $name }}
  </span>
  {{ if $isExternal }}
  <span class="icon has-text-secondary">
    <i class="fas fa-xs fa-external-link-alt"></i>
  </span>
  {{ end }}
</a>
{{ end }}
{{ end }}
