{{ define "main" }}
<section class="hero is-medium has-background-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-bold">
        <span class="has-text-white">
          404
        </span>
        <span class="has-text-secondary">
          !
        </span>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <div class="content has-bottom-padding is-medium">
      <p>
        Sorry, but that link wasn't found. Perhaps you were looking for one of the following:
      </p>

      <a class="is-size-4 is-size-5-mobile" href="/">
        Main page
      </a>

      <br />

      <a class="is-size-4 is-size-5-mobile" href="/docs">
        Documentation
      </a>

      <br />

      <a class="is-size-4 is-size-5-mobile" href="/blog">
        Blog
      </a>

      <br />

      <a class="is-size-4 is-size-5-mobile" href="/community">
        Community
      </a>

      <br />

      <a class="is-size-4 is-size-5-mobile" href="/faq">
        FAQ
      </a>
    </div>
  </div>
</section>
{{ end }}
