{{/* This file is in place as an override to Docsy */}}

{{/* cSpell:ignore URL's */}}
{{ define "title" -}}
404 Page not found &ndash; {{ site.Title -}}
{{ end -}}

{{ define "main" -}}
{{ $newIssuePath := "issues/new?title=Unexpected%20page-not-found%20error&body=URL%3A%20%0AExpected%20page%3A%20" -}}
{{ $newIssueUrl := printf "%s/%s" site.Params.repo $newIssuePath -}}

<section class="row td-cover-block td-cover-block--height-sm js-td-cover td-overlay td-overlay--dark -bg-primary">
  <div class="container td-overlay__inner">
    <div class="text-center">
      <h1 class="display-1 text-white pb-4">
        Page not found
      </h1>
      <h2 class="text-white font-weight-medium">
        404
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container text-center">
    <div>
      <p>
        The page that you requested doesn't exist.
      </p>
      <p>
        Check the URL's spelling.
      </p>
      <p>
        If you think that the page should exist,
        <a href="{{ $newIssueUrl }}" target="_blank" rel="noopener">create an issue.</a>
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="/">
          Homepage
        </a>
      </p>
    </div>
  </div>
</section>
{{ end -}}
