{{ define "main" }}

            <div class="bannerlogo"><img src="img/grpc-logo.png" style="width:33%"></div>
            <div class="topbannertext">A high performance, open-source universal RPC&nbsp;framework</div>
           <div class="button">
                <a href="docs/guides/concepts/"><button>GET STARTED</button></a>
            </div>
           <a href="#arrow"><div class="contentDiv">
           <img class="arrow" src="img/arrow.svg" /></a>
         </div>
        
      </div>
  </div>

  {{ .Content }}    


{{ end }}
