{{ $posts := where site.RegularPages "Section" "blog" }}
{{ $max   := 200 }}
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-variable is-4">
      {{ range $posts }}
      {{ $date  := dateFormat "January 2, 2006" .Date }}
      {{ $auth  := .Params.author }}
      {{ $auths := .Params.authors }}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title is-size-4 is-size-5-mobile has-text-primary has-text-weight-bold is-spaced">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </p>

            {{ with $auth }}
            <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-bold">
              {{ .name }}
            </p>
            {{ end }}

            {{ with $auths }}
            {{ $numAuths := len . }}
            <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-bold">
              {{ range $idx, $auth := . }}
              {{ $notLast := ne $numAuths (add $idx 1) }}
              {{ .name }}{{ if $notLast }}, {{ end }}
              {{ end }}
            </p>
            {{ end }}

            <p class="subtitle has-text-grey has-text-weight-bold">
              {{ $date }}
            </p>

            <p class="content">
              {{ .Summary | markdownify }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>