{{ $posts := where site.RegularPages "Section" "blog" }}
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{ range $posts }}
      {{ $date := dateFormat "January 2, 2006" .Date }}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title is-size-4 is-sizee-5-mobile has-text-primary has-text-weight-medium is-spaced">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </p>

            <p class="subtitle has-text-weight-light">
              {{ $date }}
            </p>

            <p>
              {{ .Summary }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>