<section class="hero is-medium is-primary has-background-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-hero-logo" src="/img/logos/{{ site.Params.logos.hero }}" alt="{{ site.Title }} hero logo">

      <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
        {{ site.Params.description }}
      </p>

      <br />

      <div class="buttons are-medium is-centered">
        <a class="button is-primary has-text-weight-bold" href="/docs/guides">
          Learn more
        </a>
        <a class="button is-primary has-text-weight-bold" href="/docs/quickstart">
          Get started
        </a>
      </div>
    </div>
  </div>
</section>