<section class="hero is-medium is-primary has-background-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-hero-logo" src="/img/logos/{{ site.Params.logos.hero }}" alt="{{ site.Title }} hero logo">

      <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
        {{ site.Params.description }}
      </p>

      <div class="buttons are-medium is-centered">
        <a class="button is-primary has-text-weight-bold" href="/docs/what-is-grpc/introduction">
          Learn more
        </a>
      </div>

      <br />

      <p class="title is-size-3 is-size-4-mobile">Get started!</p>
      <div class="buttons are-medium is-centered">
        <a class="button is-primary" href="/docs/languages/go/quickstart">
          Go
        </a>
        <a class="button is-primary" href="/docs/languages/cpp/quickstart">
          C++
        </a>
        <a class="button is-primary" href="/docs/languages/java/quickstart">
          Java
        </a>
        <a class="button is-primary" href="/docs/languages/python/quickstart">
          Python
        </a>
        <a class="button is-primary" href="/docs/languages/csharp/quickstart">
          C#
        </a>
        <a class="button is-primary" href="/docs/languages">
          <i class="fas fa-ellipsis-h"></i>
        </a>
      </div>
    </div>
  </div>
</section>