{{ $usedBy := site.Data.testimonials }}
<section class="section has-extra-padding">
  <div class="container has-text-centered">
    <p class="title is-size-1 is-size-2-mobile has-text-primary has-text-weight-medium">
      Used by
    </p>

    <br /><br />

    <div class="columns is-centered is-multiline is-vcentered is-variable is-8">
      {{ range $usedBy }}
      {{ $img := printf "img/users/%s" .image | relURL }}
      <div class="column is-one-fifth">
        <div class="user-logo">
          <a href="{{ .link }}" target="_blank">
            <img src="{{ $img }}" alt="{{ .name }} user logo">
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
